.header {
    background-color: #FAA69D;
    margin: 0;
    border: 1px solid gray;
}

.header > h1 {
    padding: 5px;
    margin: 0;
}

.menus > ul{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    padding-bottom: 10px;
}

.menus > ul > li{
    border: 2px solid #000;
    border-radius: 5px;
}

.menus > ul > li > input {
    background: none;
    border: none;
    margin: 0;
    padding: 5px 10px;
}

.menus > ul > li > input:hover {
    background-color: #b97a73;
    color: rgb(255, 255, 255);
}