.section {
    display: flex;
    justify-content: center;
    align-content: center;
    border: solid 1px gray;
    margin-top: 3px;
    padding: 5px;
}


.gridTable {
    margin: 5px;
    border: solid 1px gray;
    width: 100%;
    height: 200px;
}

